@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Archivo', sans-serif */

:root {
  --color-background: #b0e1fa;
  --color-primary-lighter: #4bb3e7;
  --color-primary-light: #41a1d1;
  --color-text-in-primary: #ffffff;
  --color-button-text: #fff;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
button {
  font: 500 2rem Poppins;
}

.container {
  width: 100%;
}

#page-landing {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--color-text-in-primary);
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container img {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin-top: 2rem;
}

.logo-container h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
}

.buttons-container {
  display: grid;
  justify-items: flex-start;
  margin: 3rem 0;
}

.buttons-container a {
  width: 100%;
  height: 80%;
  padding: 2rem;
  border-radius: 0.8rem;
  font: 700 2rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-button-text);
  transition: background-color 0.2s;
  margin-bottom: 2rem;
}

.buttons-container a img {
  width: 3rem;
}

.buttons-container a.button {
  background: var(--color-primary-lighter);
}

.buttons-container a.button:hover {
  background: var(--color-primary-light);
}

.buttons-container a img {
  margin-right: 2rem;
}
